@import "tailwindcss";
@config "../tailwind.config.js";

@layer components {
  .input {
    @apply w-full
      px-4
      py-2
      rounded-lg
      border
      border-barber-gray/30
      text-barber-black
      focus:outline-none
      focus:ring-2
      focus:ring-barber-gold;
  }

  .btn-primary {
    @apply bg-barber-gold
      text-barber-black
      py-2
      px-4
      rounded-lg
      font-semibold
      hover:bg-barber-info
      hover:text-white
      transition
      active:scale-[0.97];
  }

  .btn-secondary {
    @apply border
      border-barber-gray
      text-barber-black
      py-2
      px-4
      rounded-lg
      hover:bg-barber-light
      transition;
  }
}
